#SECRET_KEY=key_secreta
#ACCESS_TOKEN_EXPIRE_MINUTES=120
#ALGORITHM=HS256

#DB_USER=nombre usuario
#DB_PASSWORD=contraseña database
#DB_HOST=nombre host database
#DB_PORT=puerto
#DB_NAME=nombre database



#el archivo se crea de manera local con los respectivos atributos de la database para este ser leido con el archivo config.py y poder conectarase a la database de supa